{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="projects">
    <h2>Projects</h2>
<!--    <div class="project">-->
<!--        <p>I' currently working on adding new projects.</p>-->
<!--    </div>-->
    <div class="project">
        <h3><a href="{{ url_for('project', project_name='portfolio-website-project') }}">Portfolio Website</a></h3>
    </div>
    <div class="project">
        <h3><a href="{{ url_for('project', project_name='reinforcement-learning-snake-game') }}">Snake Game with Reinforcement Learning</a></h3>
    </div>
<!--    <div class="project">-->
<!--        <h3><a href="#">Dummy Project 1</a></h3>-->
<!--        <p>Brief description of Dummy Project 1.</p>-->
<!--    </div>-->
<!--    <div class="project">-->
<!--        <h3><a href="#">Dummy Project 2</a></h3>-->
<!--        <p>Brief description of Dummy Project 2.</p>-->
<!--    </div>-->
<!--    <div class="project">-->
<!--        <h3><a href="#">Dummy Project 3</a></h3>-->
<!--        <p>Brief description of Dummy Project 3.</p>-->
<!--    </div>-->
</div>
{% endblock %}
